html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: block;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #e6e6e6;
}

#signout {
    float: right;
}


h1 {
    font-style: italic;
    padding-bottom: 40px;
}

#logout {
    border-radius: 10px;
}

.navbar {
    position: fixed;
    margin-bottom: 0;
}

#main {
    margin-top: 80px;
}

.thumbnail {
    padding: 4px 10px;
    background-color: #fff;
    box-shadow: 0px 3px 5px 0px #aaa;
    border-radius: 0px;
    position: relative;
    margin: 10px 20px 0 20px;
    clear: both;
}

pre {
    font-size: 20px;
    text-align: left;
    clear: both;
}

#decline {
    float: left;
    margin-right: 5px;
    color: white;
}

#approve {
    color: white;
}

.marketing {
    margin-top: 20px;
    clear: both;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.footerHeading {
    text-align: center;
}

