html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: block;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e6e6e6;
}

h1 {
    font-style: italic;
    padding-bottom: 40px;
}

img {
    border-radius: 10px;
}

.register {
    max-width: 350px;
    padding: 15px;
    margin: 30px auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.register label {
    margin: 10px;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.register .field {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.register .field:focus {
    z-index: 2;
}

.register #name {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}

.register #password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}

.button {
    width: 60%;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.footerHeading {
    text-align: center;
}