<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="FMI - project"/>
    <meta name="author" content="Lilyana - 61887, Eva - 61940"/>

    <title>Математика за матура</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/approve.css}" rel="stylesheet"/>
</head>

<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">

        <a class="navbar-brand" href="/index">Математика за матура</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Начало</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Дялове на математиката</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/noSolutionTasks">Задачи без решения<span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" id="signout">
                <a class="nav-link user-p" href="#"></a>
                <a class="nav-link" href="/index"><img id="logout" th:src="@{/images/logoutIcon.png}"
                                                       width="30"
                                                       height="30"/></a>
            </form>

        </div>

    </nav>

</header>

<main id="main" role="main">

    <div id="container-subjects" class="tab-pane fade in active">

        <div class="thumbnail">
            <form>
                <h2>Задачи без решения</h2>

                <h3>Задача 1</h3>

                <h4>Предложено решение от: "Потребителско име"</h4>

                <pre>Условие:
При записване на всичките 17 данни от проведен експеримент се оказало, че числата в подредения статистически ред образуват
геометрична прогресия, като най-малкото от тях е 0,03125=2<sup>-5</sup>, а най-голямото е 2048=2<sup>11</sup>. Намерете медианата на тази извадка.</pre>

                <pre>Решение:
Според данните в условието можем да заключим, че
n=17
a<sub>1</sub>=0,03125=2<sup>-5</sup>
a<sub>17</sub>=2048=2<sup>11</sup>
Използвайки формулата за образуване на членове на геометрична прогресия a<sub>n</sub>=a<sub>1</sub>q<sup>n-1</sup>,
представяме последния член като a<sub>17</sub>=a<sub>1</sub>q<sup>n-1</sup>.
Следователно
2<sup>11</sup>=2<sup>-5</sup>q<sup>17-1</sup>
2<sup>16</sup>=q<sup>16</sup>
q=2
Медианата на извадката поради това, че обемът на извадката е нечетно число, е равна на числото на средна позиция в нея,
т.е. на място 9. По формулата изчисляваме, че това е точно:
a<sub>9</sub>=a<sub>1</sub>q<sup>9-1</sup>
a<sub>8</sub>=a<sub>1</sub>q<sup>8</sup>
a<sub>8</sub>=2<sup>-5</sup>2<sup>8</sup>
a<sub>8</sub>=2<sup>3</sup>
a<sub>8</sub>=8</pre>

                <pre>Отговор: 8</pre>

                <pre>Използвани теоретични познания: Геометрична прогресия</pre>

                <div class="text-bottom text-right" id="decline"><a href="#" role="button"
                                                                    class="btn btn-primary btn-lg">Отхвърляне<i
                        class="fa fa-arrow-right" aria-hidden="true"></i></a></div>

                <div class="text-bottom text-right" id="approve"><a href="#" role="button"
                                                                    class="btn btn-primary btn-lg">Добавяне<i
                        class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
            </form>
        </div>

    </div>

    <div class="container marketing">

        <div class="row">

            <div class="col-lg-4">
                <img class="rounded-circle" th:src="@{/images/indexImage1.jpg}" alt="Generic placeholder image"
                     width="140"
                     height="140"/>
                <h2>ДЗИ 2 - Математика</h2>
                <p>Искаш да се подготвиш добре по математика за матурата? Регистрирай се сега и започни да решаваш
                    задачи!</p>
                <p><a class="btn btn-secondary" href="/registrationForm" role="button">Детайли &raquo;</a></p>
            </div>

            <div class="col-lg-4">
                <img class="rounded-circle" th:src="@{/images/indexImage2.jpg}" alt="Generic placeholder image"
                     width="140"
                     height="140"/>
                <h2>Първи стъпки</h2>
                <p>Най-лесният и удобен начин за подготовка е чрез систематично минаване през материала. Именно тук
                    можеш да откриеш задачите подредени по дялове и трудност!</p>
                <p><a class="btn btn-secondary" href="/index" role="button">Детайли &raquo;</a></p>
            </div>

            <div class="col-lg-4">
                <img class="rounded-circle" th:src="@{/images/indexImage3.jpg}" alt="Generic placeholder image"
                     width="140"
                     height="140"/>
                <h2>Главоблъсканици</h2>
                <p>Секцията "Задачи без решения" предоставя възможност на регистрираните потребители да предизвикват
                    себе си с малко по интересни задачи по материала.</p>
                <p><a class="btn btn-secondary" href="/loginForm" role="button">Детайли &raquo;</a></p>
            </div>

        </div>

    </div>

    <footer class="container">
        <p class="footerHeading">&copy; 2018-2019 ELLE</p>
    </footer>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/logout.js}"></script>

</main>
</body>
</html>