<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link th:href="@{/css/ui/style.css}" rel="stylesheet" />
	<link th:href="@{/css/ui/user-profile-style.css}" rel="stylesheet" />
	<link rel="icon" type="image/png" href="https://i.ibb.co/QFjMRm9/favicon-wevip.png">
	<script defer th:src="@{/js/ui/event-screen-script.js}"></script>
	<link th:href="@{/css/ui/event-screen-style.css}" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<script src="https://kit.fontawesome.com/0b4303f61f.js" crossorigin="anonymous"></script>

	<script th:src="@{/js/jquery.min.js}"></script>
	<script defer th:src="@{/js/ui/user-profile-script.js}"></script>
	<title>User Profile</title>
</head>

<body>
	<div id="content">
		<header>
			<a href="#"><img th:src="@{/images/ui/logo.png}" id="logo" alt="logo"></a>
			<nav id="nav-bar">
				<ul>
					<li><a href="#">Events</a>
						<ul>
							<li><a id="a-events-top30" href="/events">Top 30</a></li>
							<li><a id="a-events-all" href="/events">All events</a></li>
						</ul>
					</li>
					<li><a href="/userProfile">My collection</a></li>
					<li><a href="/users">Users</a></li>
					<li id="account-button"><a href="#">
							<label id="username">vixypixy</label>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul>
							<li><a href="/settings">My profile</a></li>
							<li><a href="/index">Log out</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
		<section>
			<div id="wrapper">
				<div id="user-card">
					<!-- <img src="img/man.png" alt="User_1"> -->
					<p id="card-username">Name</p>
				</div>
				<div id="user-extended-info">
					<div class="category">
						<h1>Tickets</h1>
						<div id="tickets-container" class="category-content"></div>
						<div id="no-tickets-container"></div>
					</div>

				</div>
			</div>
		</section>
	</div>
	<footer>
		<button class="text-button">About us</button>
		<button class="text-button">Team</button>
		<button class="text-button">Contact us</button>
	</footer>
</body>

</html>