<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="FMI - project"/>
    <meta name="author" content="Lilyana - 61887, Eva - 61940"/>

    <title>Математика за матура</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/practice.css}" rel="stylesheet"/>
</head>

<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">

        <a class="navbar-brand" href="/index">Математика за матура</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Начало</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/main">Дялове на математиката<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/noSolutionTasks">Задачи без решения</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" id="signout">
                <a class="nav-link user-p" href="#"></a>
                <a class="nav-link" href="/index"><img id="logout" th:src="@{/images/logoutIcon.png}"
                                                       width="30"
                                                       height="30"/></a>
            </form>

        </div>

    </nav>

</header>

<main id="main" role="main">

    <div id="container-subjects">
        <form class="task-form">
            <div id="task">
                <h2 id="task-title"></h2>

                <div id="timer"><label id="minutes">00</label>:<label id="seconds">00</label></div>


                <pre id="task-content"></pre>
                <pre id="checkAnswer">Отговорът Ви за задачата е: <span id="correctAnswer">верен</span><span
                        id="wrongAnswer">грешен</span> <span id="tryAgain">Опитайте отново!</span></pre>
                <hr/>
                <pre id="usedTheory">Използвани теоретични познания:<select id="theoryOptions"></select></pre>

                <pre id="checkTheory">Отговорът Ви за теорията е: <span id="correctTheory">верен</span><span
                        id="wrongTheory">грешен</span></pre>

                <pre id="helpTheory">Използвани теоретични познания: <span></span></pre>

                <pre id="solution"></pre>
                <pre id="task-value"></pre>

                <div class="text-bottom text-left" id="help"><a role="button" class="btn btn-info btn-lg">Помощ<i
                        class="fa fa-arrow-right" aria-hidden="true"></i></a></div>

                <div class="text-bottom text-left" id="solve"><a role="button" class="btn btn-info btn-lg">Решение<i
                        class="fa fa-arrow-right" aria-hidden="true"></i></a></div>

                <div class="text-bottom text-right" id="check"><a onclick="result()" role="button"
                                                                  class="btn btn-primary btn-lg">Предаване<i
                        class="fa fa-arrow-right" aria-hidden="true"></i></a></div>

                <div class="text-bottom text-right" id="submit"><a onclick="theory()" role="button"
                                                                   class="btn btn-primary btn-lg">Теория<i
                        class="fa fa-arrow-right" aria-hidden="true"></i></a></div>

                <div class="text-bottom text-right" id="back"><a href="/main" role="button"
                                                                 class="btn btn-primary btn-lg">Назад<i
                        class="fa fa-arrow-right" aria-hidden="true"></i></a></div>

            </div>
        </form>
    </div>

    <div class="container marketing">

        <div class="row">

            <div class="col-lg-4">
                <img class="rounded-circle" th:src="@{/images/indexImage1.jpg}" alt="Generic placeholder image"
                     width="140"
                     height="140"/>
                <h2>ДЗИ 2 - Математика</h2>
                <p>Искаш да се подготвиш добре по математика за матурата? Регистрирай се сега и започни да решаваш
                    задачи!</p>
                <p><a class="btn btn-secondary" href="/registrationForm" role="button">Детайли &raquo;</a></p>
            </div>

            <div class="col-lg-4">
                <img class="rounded-circle" th:src="@{/images/indexImage2.jpg}" alt="Generic placeholder image"
                     width="140"
                     height="140"/>
                <h2>Първи стъпки</h2>
                <p>Най-лесният и удобен начин за подготовка е чрез систематично минаване през материала. Именно тук
                    можеш да откриеш задачите подредени по дялове и трудност!</p>
                <p><a class="btn btn-secondary" href="/index" role="button">Детайли &raquo;</a></p>
            </div>

            <div class="col-lg-4">
                <img class="rounded-circle" th:src="@{/images/indexImage3.jpg}" alt="Generic placeholder image"
                     width="140"
                     height="140"/>
                <h2>Главоблъсканици</h2>
                <p>Секцията "Задачи без решения" предоставя възможност на регистрираните потребители да предизвикват
                    себе си с малко по интересни задачи по материала.</p>
                <p><a class="btn btn-secondary" href="/loginForm" role="button">Детайли &raquo;</a></p>
            </div>

        </div>

    </div>

    <footer class="container">
        <p class="footerHeading">&copy; 2018-2019 ELLE</p>
    </footer>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/practice.js}"></script>
    <script th:src="@{/js/logout.js}"></script>

</main>
</body>
</html>